services:
  # NextCloud service
  nextcloud:
    image: nextcloud:latest
    container_name: nextcloud
    restart: unless-stopped
    networks:
      - nextcloud
      - traefik
    environment:
      - "POSTGRES_HOST=nextcloud-database"
      - "POSTGRES_DB=nextcloud"
      - "POSTGRES_USER=nextcloud"
      - "POSTGRES_PASSWORD={{ nextcloud_database_password }}"
      - "NEXTCLOUD_TRUSTED_DOMAINS=next.{{ domain_name }}"
      - "OVERWRITEHOST=next.{{ domain_name }}"
      - "OVERWRITECLIURL=https://next.{{ domain_name }}"
      - "OVERWRITEPROTOCOL=https"
      - "TRUSTED_PROXIES={{ reverse_proxy_ip }}"
      - "APACHE_DISABLE_REWRITE_IP=1"
      - "NEXTCLOUD_ADMIN_USER=admin"
      - "NEXTCLOUD_ADMIN_PASSWORD={{ nextcloud_admin_password }}"
    volumes:
      - "{{ nextcloud_home_directory }}/data:/var/www/html"
      - "{{ media_directory }}/music:/media/music"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud.rule=Host(`next.{{ domain_name }}`)"
      - "traefik.http.routers.nextcloud.entrypoints=websecure"
      - "traefik.http.routers.nextcloud.tls=true"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"
      # Headers
      - "traefik.http.middlewares.nextcloud-headers.headers.stsSeconds=15552000"
      - "traefik.http.middlewares.nextcloud-headers.headers.stsIncludeSubdomains=true"
      - "traefik.http.middlewares.nextcloud-headers.headers.forceSTSHeader=true"
      - "traefik.http.routers.nextcloud.middlewares=nextcloud-headers"
    depends_on:
      - nextcloud-database

  # Database
  nextcloud-database:
    image: postgres:16
    container_name: nextcloud-database
    restart: unless-stopped
    networks:
      - nextcloud
    environment:
      - "POSTGRES_DB=nextcloud"
      - "POSTGRES_USER=nextcloud"
      - "POSTGRES_PASSWORD={{ nextcloud_database_password }}"
    volumes:
      - "{{ nextcloud_home_directory }}/postgres:/var/lib/postgresql/data"

networks:
  traefik:
    name: traefik
    external: true
  nextcloud:
    name: nextcloud