services:
  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin:latest
    user: "{{ jellyfin_service_user_uid }}:{{ media_group_gid }}"
    restart: unless-stopped
    networks:
      - traefik
    # Needed for VAAPI hardware acceleration
    devices:
      - /dev/dri:/dev/dri
    shm_size: "2gb"
    environment:
      - "JELLYFIN_PublishedServerUrl=https://jellyfin.{{ domain_name }}"
      - TZ=Europe/Helsinki
    volumes:
      - "{{ jellyfin_home_directory }}/config:/config"
      - "{{ jellyfin_home_directory }}/cache:/cache"
      - "{{ media_directory }}:/media"
    labels:
      # Router
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.{{ domain_name }}`)"
      - "traefik.http.routers.jellyfin.entrypoints=websecure"
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"

      # Optional: WebSocket / streaming stability
      - "traefik.http.middlewares.jellyfin-headers.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.routers.jellyfin.middlewares=jellyfin-headers"

networks:
  traefik:
    name: traefik
    external: true